.wrapper:after, .site-footer:after, footer:after {
  content: "";
  display: table;
  clear: both; }

.icon > svg {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  vertical-align: middle; }
  .icon > svg path {
    fill: black; }

body {
  font-size: 1rem;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }
  @media screen and (max-width: 560px) {
    body {
      font-size: 0.875rem; } }
  @media screen and (max-width: 560px) {
    body {
      line-height: 1.375; } }

.site-title {
  font-size: 2rem;
  line-height: 1.5; }
  @media screen and (max-width: 560px) {
    .site-title {
      font-size: 2rem;
      line-height: 1.375; } }

h1 {
  font-size: 1.67rem;
  line-height: 1.5; }
  @media screen and (max-width: 560px) {
    h1 {
      font-size: 1.4rem;
      line-height: 1.375; } }

h2 {
  font-size: 1.4rem;
  line-height: 1.5; }
  @media screen and (max-width: 560px) {
    h2 {
      font-size: 1.175rem;
      line-height: 1.375; } }

h3, .page-heading {
  font-size: 1.175rem;
  line-height: 1.5; }
  @media screen and (max-width: 560px) {
    h3, .page-heading {
      font-size: 1.12rem;
      line-height: 1.375; } }

h4 {
  font-size: 1.12rem;
  line-height: 1.5; }
  @media screen and (max-width: 560px) {
    h4 {
      font-size: 1rem;
      line-height: 1.375; } }

h5 {
  font-size: 1rem;
  line-height: 1.5; }
  @media screen and (max-width: 560px) {
    h5 {
      font-size: 0.875rem;
      line-height: 1.375; } }

blockquote {
  font-size: 1rem; }
  @media screen and (max-width: 560px) {
    blockquote {
      font-size: 0.875rem; } }

.site-nav {
  font-size: 0.875rem;
  line-height: 1.375; }
  @media screen and (max-width: 560px) {
    .site-nav {
      font-size: 0.8rem; } }

table, footer, .site-footer {
  font-size: 0.875rem;
  line-height: 1.375; }

code {
  font-size: 0.875rem; }

pre {
  font-size: 0.8rem;
  line-height: 1.375;
  overflow-x: auto; }
  pre > code {
    font-size: 0.8rem; }

pre.lic {
  font-size: 0.875rem;
  line-height: 1.25; }

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul {
  padding: 0;
  margin: 0 0 1rem 0; }

blockquote > :last-child {
  margin-bottom: 0; }

code {
  padding: 0; }

pre > code {
  border: 0;
  padding-right: 0;
  padding-left: 0; }

img {
  max-width: 100%;
  vertical-align: middle; }

ul, ol {
  margin-left: 0; }

li > ul, li > ol {
  margin-bottom: 0; }

table {
  width: 100%;
  padding: 0;
  margin: 0 0 1rem 0;
  border-collapse: collapse; }

.wrapper {
  max-width: -webkit-calc(800px);
  max-width: calc(800px);
  padding: 0 0.5rem 0 0.5rem;
  margin: 0 auto 0 auto; }

.site-header {
  min-height: 5rem;
  position: relative; }

.site-title {
  vertical-align: top;
  margin: 0; }
  @media screen and (max-width: 560px) {
    .site-title {
      margin-right: 1em; } }

.site-nav {
  margin-top: 0; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .site-nav-link {
    margin-right: 1rem; }
  @media screen and (max-width: 560px) {
    .site-nav {
      position: absolute;
      top: 0.25rem;
      right: 0.25rem;
      margin-left: 0.25rem;
      border: 1px solid black;
      border-radius: 5px;
      text-align: right;
      float: right; }
      .site-nav .menu-icon {
        display: block;
        width: 2rem;
        height: 1.5rem;
        line-height: 0;
        padding-top: 0.5rem;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 1.2rem;
          height: 1rem; }
          .site-nav .menu-icon > svg path {
            fill: black; }
      .site-nav .nav-trigger {
        clear: both;
        display: none; }
      .site-nav:hover .nav-trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        margin: 2em; } }

.site-footer {
  padding: 1rem 0; }

.page-content {
  padding: 1rem 0; }

.page-vertical {
  margin-bottom: 1rem; }

.not-when-small {
  display: inline; }
  @media screen and (max-width: 560px) {
    .not-when-small {
      display: none; } }

.floatright {
  float: right;
  max-width: 45%;
  margin: 0 0 1rem 1rem; }
  @media screen and (max-width: 560px) {
    .floatright {
      float: none;
      max-width: 100%;
      margin: 0 0 1rem 0; } }

.floatleft {
  float: left;
  max-width: 45%;
  margin: 0 1rem 1rem 0; }
  @media screen and (max-width: 560px) {
    .floatleft {
      float: none;
      max-width: 100%;
      margin: 0 0 1rem 0; } }

.centred {
  margin: 0 auto 1rem auto; }

body {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: black;
  background-color: white;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600; }

h2, h3, h4 {
  background-color: #ccd7e9;
  padding-left: 0.3em; }

ul {
  list-style-type: disc;
  list-style-position: outside; }
  ul li {
    margin-left: 3em; }

code, pre {
  font-family: "Droid Sans Mono", monospace; }

pre {
  border: 1px solid #66bb66;
  border-radius: 5px;
  background-color: #e0ffe0;
  padding: 0.67em 1em; }

a {
  color: #2a7ae2;
  text-decoration: none; }
  a a:hover {
    text-decoration: underline; }

.site-header {
  background-image: linear-gradient(#6080bb, #ffffff 5rem); }

.site-title {
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: -0.05em;
  border: 1px solid white;
  padding: 0 0.2em 0 0.2em;
  border-radius: 5px; }
  .site-title, .site-title:visited {
    color: white;
    text-decoration: none; }

.site-nav {
  font-weight: 600; }
  @media screen and (max-width: 560px) {
    .site-nav {
      background-color: rgba(200, 220, 255, 0.75); } }
  .site-nav .site-nav-link {
    color: blue; }
  .site-nav .site-nav-link:hover {
    background-color: white;
    text-decoration: none; }

.menu-icon {
  background-color: white;
  border: 1px solid #4f4f4f;
  border-radius: 5px; }

footer {
  color: #828282; }

p.scary {
  background-image: url("/slackrepo/img/warning.png");
  background-repeat: no-repeat;
  background-position: left 8px center;
  padding: 8px 8px 8px 50px;
  border: 1px solid black;
  font-weight: bold; }

pre.lic {
  font-family: 'Source Sans Pro',sans-serif;
  font-weight: normal;
  padding: 0;
  border: 0;
  background-color: transparent; }

h4.faq:before {
  counter-increment: faqnumber;
  content: counter(faqnumber) ". "; }

.manpage table.head, .manpage table.foot {
  display: none; }
.manpage .manual-text {
  font-size: 1rem;
  margin: 1.2rem 0 1.2rem 0;
  margin-collapse: collapse; }
  @media screen and (max-width: 560px) {
    .manpage .manual-text {
      font-size: 0.875rem; } }
.manpage h1 {
  font-size: 1.4rem;
  line-height: 1.5;
  background-color: #ccd7e9;
  padding-left: 0.3em;
  margin: 2rem 0 1.2rem 0;
  margin-collapse: collapse; }
  @media screen and (max-width: 560px) {
    .manpage h1 {
      font-size: 1.175rem;
      line-height: 1.375; } }
.manpage h2 {
  font-size: 1.175rem;
  line-height: 1.5;
  margin: 1.2rem 0 1.2rem 0;
  margin-collapse: collapse; }
  @media screen and (max-width: 560px) {
    .manpage h2 {
      font-size: 1.12rem;
      line-height: 1.375; } }
.manpage h3 {
  font-size: 1.12rem;
  line-height: 1.5;
  margin: 1.2rem 0 1.2rem 0;
  margin-collapse: collapse; }
  @media screen and (max-width: 560px) {
    .manpage h3 {
      font-size: 1rem;
      line-height: 1.375; } }
.manpage a.selflink {
  color: black; }
.manpage pre {
  font-size: 0.875rem;
  line-height: 1.5;
  padding: 0;
  border: 0;
  margin: 0 0 1.2rem 0;
  background-color: transparent; }
  @media screen and (max-width: 560px) {
    .manpage pre {
      font-size: 0.8rem;
      line-height: 1.375; } }
.manpage dl {
  padding: 0;
  margin: 1.2rem 0 1.2rem 0;
  margin-collapse: collapse; }
.manpage dt {
  padding: 0;
  margin: 0; }
.manpage dd {
  padding: 0 0 0 5ex;
  margin: 0 0 1.2rem 0;
  margin-collapse: collapse; }
.manpage .Pp {
  margin: 0 0 0.6rem 0;
  margin-collapse: collapse; }
