@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro|Droid+Sans+Mono);

p           { font-size: 14px; }
li          { font-size: 14px; }
th          { font-size: 14px; font-style: italic; }
td          { font-size: 14px; }
h5          { font-size: 16px; }

blockquote  { font-size: 14px; }
pre         { font-family: 'Droid Sans Mono',monospace; font-size: 12px; padding: 8px 8px 8px 8px; border: 1px solid #66bb66; background-color: #e0ffe0; }
code        { font-family: 'Droid Sans Mono',monospace; font-size: 12px; }

header      { float: right; width: 75%; margin: 10px 10px 0 10px; text-align: left; font-family: 'Source Sans Pro',sans-serif; font-weight: bold; }
header h2   { margin-top: 0; margin-bottom: 0; font-weight: bold; font-size: 32px; }
header a    { text-decoration: none; }

nav         { float: left;  width: 20%; padding: 10px; text-align: left; font-family: 'Source Sans Pro',sans-serif; font-weight: bold; 
              background-color: #c0c0ff; background-image: linear-gradient(#4040aa, #ffffff 120px ); position: fixed; }
nav h2      { margin-top: 0; margin-bottom: 20px; font-weight: bold; font-size: 32px; color: #ffffff; }
nav a       { text-decoration: none; }
nav h2 a    { color: #ffffff; }
nav ul      { margin: 0; padding: 0; list-style: none; }
nav li      { margin-bottom: 4px; }
nav li li   { margin-left: 20px; margin-bottom: 0px; }
nav li a:hover  { background-color: #ffffff; }

#main       { float: right; width: 75%; margin: 10px; text-align: left; font-family: 'Source Sans Pro',sans-serif; }
#main h3    { background-color: #c0c0ff; padding: 4px; }
#main h4    { background-color: #c0c0ff; padding: 4px; }
#main h4 .subhead  { font-weight: normal; font-style: italic; }
#main h5    { margin-bottom: 10px; }
#main p     { margin-bottom: 10px; }
#main p.scary  { background-image: url("warning.png");  background-repeat: no-repeat; background-position: left 8px center;
                 padding: 8px 8px 8px 50px; border: 1px solid black; font-weight: bold; }
#main p.ssl { text-align: left; }
#main p.ssl img  { float: left;  margin-right: 10px; margin-bottom: 32px; }
#main p.ssr { text-align: right; }
#main p.ssr img  { float: right; margin-left:  10px; margin-bottom: 32px; }
#main ul    { margin: 0; }
#main li    { margin-bottom: 10px; }
#main table { border-collapse: collapse; }
#main th    { border: 0; padding: 0 1em 0 0; }
#main td    { border: 0; padding: 0 1em 0 0; }

#man        { float: right; width: 75%; margin: 10px; text-align: left; font-family: 'Source Sans Pro',sans-serif; }
#man h2     { font-family: 'Source Sans Pro',sans-serif; background-color: #c0c0ff; padding: 8px; }
#man h4     { font-family: 'Source Sans Pro',sans-serif; }
#man p      { font-family: 'Source Sans Pro',sans-serif; margin-bottom: 10px; }
#man ul     { margin: 0; }
#man li     { margin-bottom: 10px; }
#man pre    { font-family: 'Droid Sans Mono',monospace; font-size: 12px; padding: 0; border: 0; background-color: transparent; }

a.ext       { background: url("exticon.png") no-repeat right center; padding-right: 12px; }

h5.faq:before  { counter-increment: faqnumber; content: counter(faqnumber) ". "; }

pre.lic     { font-family: 'Source Sans Pro',sans-serif; font-size: 12px; font-weight: normal; padding: 0; border: 0; background-color: transparent; }
pre.chg     { font-size: 10px; font-weight: normal; padding: 0; border: 0; background-color: transparent; }
.highlight  { background-color: #ddffdd; }

footer      { clear:both; margin: 10px; text-align: right; font-family: 'Source Sans Pro',sans-serif; }
footer p    { font-size: 12px; font-style: italic; }

hr          { margin-top: 20px; margin-bottom: 20px; }
