ADDREQUIRES="accountsservice caribou cinnamon-control-center cinnamon-screensaver cinnamon-session cinnamon-settings-daemon cjs clutter-gtk gnome-common gstreamer1 libgnomekbd lxml muffin nemo pexpect python-pam"
SPECIAL="download_basename"
